<div class="version-tag">
  <h2 class="underlined"><%= version_tag.name %>&nbsp;(<%= long_date_format(version_tag.datetime) %>)</h2>
  <section class="commits">
    <%= render partial: 'commit', collection: changelog[version_tag] %>
  </section>
</div>