<div class="version-tag">
	<h2 class="underlined"><%= version_tag.name %>&nbsp;(<%= long_date_format(version_tag.tag_date) %>)</h2>
	<section class="commits">
		<%= render partial: 'commit', 
			   	   collection: history[version_tag] %>
	</section>
</div>