<div id="app-changelog">
	<h1 class="underlined">Application repository changelog</h1>

	<%= render partial: 'version_tag', 
			   collection: @history.keys,
			   locals: { history: @history } %>
</div>
