<div id="app-changelog">
	<h1 class="underlined">Application repository changelog</h1>

	<%= render partial: 'version_tag', 
			   collection: @changelog.keys,
			   locals: { changelog: @changelog } %>
</div>
