/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#app-changelog {
  font-family: Helvetica, arial, sans-serif;  
  width: 1000px;
  margin: 0 auto;
}

.underlined {
  border-bottom: 1px solid #CCC;
}

#app-changelog .commits {
  margin-left: 50px;
}
.commit {
  padding: 4px;
}
.commit.odd {
  background-color: #eee;
}

.commit .type.dev, .commit .type.d {
  color: #2E64FE;
  font-weight: bold;
}

.commit type.fix, .commit .f {
  color: #04B431;
  font-weight: bold;
}

.commit .type.ref, .commit .type.r {
  color: #FF8000;
  font-weight: bold;
}

.commit .type.bug, .commit .type.b {
  color: #B40404;
  font-weight: bold;
}

.commit .type.new, .commit .type.n {
  color: #6A0888;
  font-weight: bold;
}

.commit .name {
  color: #000000;
  font-weight: bold;
}

.commit .author {
  color: #888;
  font-size: .8em;
}
